@media (min-width: 480px) {
  /*header*/
  .search-menu {
    padding: 30px 50px 19px 50px;
  }

  .search-menu__form {
    width: 100%;
  }

  .search-menu__submit {
    margin-right: 5px;
  }

  .search-menu__input {
    max-width: none;
    width: 100%;
    margin-right: 5px;
  }

  .search-menu__close {
    height: 20px;
    width: 20px;
  }

  .search-menu__close::before, .search-menu__close::after {
    top: 70%;
    left: 0;
  }

  /*gallery*/
  .gallery-slide::before {
    padding-top: calc(85% - 6px);
  }

  .swiper-container {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    flex-direction: column;
  }

  .swiper-navigation {
    align-self: flex-start;
  }

  .gallery-slide::before {
    padding-top: calc(100% + 9px);
  }

  /*catalog*/
  .accordion__inner-list {
    column-count: 2;
  }

  /*footer*/
  .footer {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .footer__list {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__label {
    margin-bottom: 12px;
  }

  .form__label--first {
    margin-right: 20px;
  }

  .form__label {
    flex-grow: 1;
  }

  .form__button {
    width: 47%;
  }
}

@media (min-width: 768px) {
  /*header*/
  .header {
    min-height: 100px;
    max-height: unset;
  }

  .container--header {
    padding: 29px 50px 30px;
  }

  .search-menu {
    height: 100px;
    padding-top: 34px;
    padding-bottom: 34px;;
  }

  .search-menu__submit {
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }

  .search-menu__submit::before {
    top: 20px;
  }

  .search-menu__input {
    max-width: none;
    width: 100%;
    margin-right: 5px;
  }

  .search-menu__close {
    height: 30px;
    width: 30px;
  }

  .search-menu__close::before, .search-menu__close::after {
    top: 70%;
    left: 0;
    width: 30px;
  }

  .header__burger {
    margin-top: 3px;
    height: 27px;
    width: 36px;
    align-self: center;
  }

  .header__burger::before {
    width: 28px;
    top: 10px;
  }

  .header__burger::after {
    width: 24px;
    top: 22px;
  }

  .header__open-search-btn {
    height: 24px;
    width: 24px;
    margin-left: 3px;
    align-self: center;
  }

  .header__open-search-btn::before {
    width: 8px;
    top: 20px;
    left: -5px;
  }

  .header__close-menu {
    width: 30px;
    height: 30px;
  }

  .header__login {
    font-size: 18px;
    width: 257px;
    height: 60px;
  }

  .header__login-wrapper {
    height: 60px;
    width: 257px;
  }

  .header__login::before {
    height: 60px;
    width: 257px;
  }

  .header__close-menu::before, .header__close-menu::after {
    width: 35px;
  }

  .logo-link {
    height: 43px;
    width: 188px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }

  /*hero*/
  .slide-1 {
    background-image: url("../img/hero-castle-tablet.jpg");
  }

  .slide-2 {
    background-image: url("../img/hero-divine-tablet.jpg");
  }

  .slide-3 {
    background-image: url("../img/hero-forest-tablet.jpg");
  }

  .container--hero {
    padding: 105px 57px 115px 50px;
    align-items: flex-start;
  }

  .hero__title {
    font-size: 72px;
    line-height: 98px;
    text-align: left;
    margin: 0 0 -10px 0;
  }

  .hero__text {
    font-family: "Open Sans bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 132px;
  }

  .hero__link-wrapper {
    width: 314px;
    height: 70px;
  }

  .hero__link {
    font-size: 18px;
    line-height: 25px;
  }

  /*about us*/

  .container--about-us {
    padding: 85px 50px 70px 50px;
  }

  .about-us__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .about-us__text {
    font-size: 16px;
    line-height: 32px;
  }

  /*gallery*/
  .gallery {
    background-image: url(../img/gallery-background-tablet.jpg);
  }

  .container--gallery {
    padding: 95px 50px 60px 50px;
  }

  .gallery__title {
    font-size: 48px;
    margin-bottom: 36px;
  }

  .gallery__subtitle {
    margin-bottom: 17px;
  }

  .choices {
    max-width: 281px;
    margin-bottom: 45px;
  }

  .choices[data-type*=select-one]::after {
    right: 16px;
    top: 36%;
  }

  .gallery__item:last-child {
    margin-bottom: 28px;
  }

  .swiper-navigation {
    margin-bottom: 29px;
  }

  .gallery-pagination {
    margin-right: 20px;
  }

  .modal__container {
    width: 668px;
  }

  .modal-content {
    flex-direction: row;
  }

  .modal-text {
    margin: auto;
  }

  .modal-img {
    min-width: 301px
  }

  .modal-date {
    margin-bottom: 40px;
  }

  /*catalog*/
  .container--catalog {
    padding: 84px 50px 50px;
  }

  .catalog__title {
    font-size: 48px;
    margin-bottom: 23px;
  }

  .accordion__inner-list {
    column-count: 3;
  }

  .accordion__content-square {
    width: 251px;
    height: 165px;
  }

  .accordion__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
  }

  .accordion__content-text {
    max-width: 275px;
  }

  .accordion__heading-text-wrap {
    font-size: 24px;
  }

  .head-icon {
    width: 50px;
    height: 50px;
  }

  .accordion__heading {
    padding: 41px 108px 41px 0;
  }

  .accordion__inner-list {
    column-gap: 60px;
  }

  .catalog__text {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 20px;
  }

  .tab-content__text {
    max-width: 400px;
  }

  .tab-content__descr {
    margin: 0;
  }

  .tab-content__date {
    margin-bottom: 6px;
  }

  /*events*/
  .container--events {
    padding: 22px 50px 0;
  }

  .events__title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .slide-content {
    padding: 15px 30px 49px 33px;
  }

  .events__info {
    margin: 0 0 5px;
  }

  .events__descr {
    margin: 0 0 23px 0;
  }

  .events__link {
    padding: 0;
  }

  .events__link::before {
    width: 87px;
    left: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets {
    bottom: 0;
  }

  /*projects*/
  .container--projects {
    padding: 90px 50px 86px 50px;
  }

  .projects__title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .projects__subtitle {
    font-family: "Open Sans semibold", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 27px 0 30px 0;
  }

  .projects__link--tablet {
    display: inline-block;
  }

  .projects__link--mobile {
    display: none;
  }

  /*contacts*/
  .container--contacts {
    border: 1px solid var(--light-middle-gray);
  }

  .container--contacts {
    padding: 46px 50px 25px 50px;
  }

  .contacts__subtitle {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .contacts__contact-us {
    font-family: "Open Sans semibold", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts__address {
    margin-bottom: 30px;
  }

  .form__label {
    height: 50px;
    max-width: 480px;
    min-width: 270px;
  }

  .form__button {
    height: 50px;
    font-size: 18px;
    width: 47.5%;
    max-width: 375px;
  }

  .form {
    margin-bottom: 30px;
  }

  .social-media__link svg {
    width: 40px;
    height: 40px;
    fill: none;
  }

  .map {
    height: 700px;
  }

  .footer {
    justify-content: space-between;
  }

  .footer__social svg {
    width: 60px;
    height: 60px;
  }

  .container--footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 50px 50px;
  }

  .footer__logo-link {
    align-self: center;
  }

}

@media (min-width: 1024px) {

  /*header*/
  .search-menu {
    right: 50px;
    left: unset;
    top: 30%;
    height: 36px;
    padding: 0;
    width: 314px;
  }

  .search-menu__form {
    width: 314px;
  }

  /*hero*/
  .hero__text {
    max-width: 661px;
  }

  .slide-1 {
    background-image: url("../img/hero-castle-laptop.jpg");
  }

  .slide-2 {
    background-image: url("../img/hero-divine-laptop.jpg");
  }

  .slide-3 {
    background-image: url("../img/hero-forest-laptop.jpg");
  }

  /*gallery*/
  .container--gallery {
    display: flex;
    padding-bottom: 60px;
  }

  .gallery__content {
    min-width: 280px;
    margin-right: 50px;
  }

  .swiper-container {
    width: calc(100% - 330px);
  }

  .swiper-navigation {
    margin-top: 12px;
  }

  .gallery-slide::before {
    padding-top: calc(100% + 30px);
  }

  .choices {
    margin-bottom: 111px;
  }

  .modal__container {
    width: 58%;
  }

  /*catalog*/
  .container--catalog {
    padding: 84px 50px 20px;
  }

  .accordion__inner-list {
    column-count: 2;
  }

  .catalog__accordion-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .catalog__text {
    margin-bottom: 39px;
  }

  .swiper-artists {
    margin-right: 50px;
    max-width: 674px;
  }

  .questions {
    width: calc(50% - 25px);
  }

  .tab-content__pic img {
    margin-bottom: 29px;
  }

  .tab-content__date {
    margin-bottom: 16px;
  }

  .tab-content__name {
    margin-bottom: 7px;
  }

  .swiper-container {
    margin-bottom: 20px;
  }

  /*events*/
  .events__img {
    min-height: 200px;
  }

  .slide-content {
    padding: 15px 32px 49px 33px;
  }

  .events__descr {
    margin: 0 0 -11px 0;
  }

  /*projects*/
  .container--projects {
    padding: 92px 50px 70px 50px;
  }

  .projects__link--tablet {
    display: none;
  }

  .projects__link--laptop {
    display: inline-block;
  }

  .projects__subtitle {
    margin: 20px 0 22px 0;
  }

  .sponsor-swiper__slides {
    margin: 0 53px;
  }

  /*contacts*/
  .container--contacts {
    padding-left: 48px;
  }

  .form {
    flex-wrap: nowrap;
    justify-content: unset;
  }

  .form__label--first {
    margin: unset;
  }

  .form__label {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: 1440px) {
  /*header*/
  .header {
    position: relative;
  }

  .container--header {
    display: flex;
    flex-direction: column;
    max-width: unset;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .header__top-container {
    display: flex;
    width: 100%;
  }

  .header__top-container {
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .header__top-wrapper {
    min-height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--black);
  }

  .header__bottom-wrapper {
    display: flex;
    width: 100%;
  }

  .logo-link {
    margin-right: 180px;
  }

  .header__close-menu, .header__burger, .header__open-search-btn {
    display: none;
  }

  .search-menu__input {
    padding-left: 4px;
  }

  .nav {
    position: relative;
    visibility: visible;
    transform: unset;
    height: unset;
    padding: 0;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .nav__link {
    font-size: 18px;
    line-height: 25px;
    transition: color .3s ease-in-out;
  }

  .nav__item {
    display: flex;
    align-items: center;
    margin-right: 60px;
    /*margin-bottom: 15px;*/
  }

  .nav__item--about-us {
    margin-right: 64px;
    margin-left: 6px;
  }

  .nav__item--gallery {
    margin-right: 64px;
  }

  .nav__item--catalog {
    margin-right: 64px;
  }

  .nav__item--events {
    margin-right: 66px;
  }

  .nav__item--projects {
    margin-right: 66px;
  }

  .header__login-wrapper {
    width: 89px;
  }

  .header__login {
    position: relative;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    z-index: 0;
  }

  .header__login::before {
    border: none;
    border-radius: unset;
    width: unset;
    height: unset;
    background-color: var(--violet-middle);
    top: -2px;
    right: -6px;
    bottom: -2px;
    left: -6px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    z-index: -1;
  }

  .header__login::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 7px;
    left: 9px;
    background-color: var(--white);
    transition: transform .3s ease, background-color .3s ease-in-out;
    transform-origin: right;
  }

  .header__login:hover::after {
    transform: scaleX(2);
  }

  .header__login:focus::before {
    transform: scaleX(1);
  }

  .simplebar-content-wrapper {
    overflow: auto;
  }

  .artist {
    display: flex;
    align-items: center;
    max-width: 1140px;
    flex-wrap: wrap;
    position: relative;
    margin-right: 30px;
  }

  .artist__item {
    position: relative;
    margin-right: 32px;
  }

  .artist__item-btn {
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    padding-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: var(--white);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }

  .artist__item-btn:hover {
    color: var(--violet-middle);
  }

  .artist__item-btn:focus {
    color: var(--white);
  }

  .artist__item-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 7px;
    margin-top: -3px;
    transform: rotate(135deg);
    transition: transform 0.5s ease;
    transform-origin: center;
  }

  .artist__item-btn::before {
    content: "";
    position: absolute;
    left: -6px;
    right: -6px;
    top: -3px;
    bottom: -3px;
    background-color: var(--violet-dark);
    transform: scaleX(0);
    transition: transform .3s;
    opacity: 1;
    z-index: -1;
  }

  .is-active {
    color: var(--violet-dark);
  }

  .artist__item-btn.is-active::after {
    transform: rotate(-45deg) translateY(4px);
  }

  .artist__item-btn:focus::before {
    transform: scaleX(1);
  }

  .artist__item-btn:active {
    color: var(--violet-dark);
  }

  .artist__dropdown {
    position: absolute;
    bottom: -44%;
    left: 0;
    display: none;
    padding: 40px 20px 40px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
  }

  .artist__dropdown-wrap {
    width: 240px;
    max-height: 220px;
  }

  .artist__dropdown.is-active {
    display: block;
    animation-name: dropdownOpen;
    animation-duration: 0.4s;
  }

  .artist__dropdown.is-disabled {
    display: block;
    animation-name: dropdownClose;
    animation-duration: 0.4s;
  }

  .artist__drop-list {
    list-style: none;
    padding-left: 0;
  }

  .artist__dropdown-item {
    width: 220px;
  }

  .artist__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .artist__item-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    border: 2px solid transparent;
    font-size: 14px;
    color: var(--white);
    background-color: var(--black);
    background-origin: border-box;
    transition: border-color .3s ease;
  }

  .artist__item-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 131, 243, 0.4);
    opacity: 0;
    transition: opacity .3s ease;
  }

  .artist__item-link--Tintoretto {
    background-image: url('../img/main__item-link--Tintoretto.jpg');
  }

  .artist__item-link--Fridrih {
    background-image: url('../img/main__item-link--Fridrih.jpg');
  }

  .artist__item-link--Leonardo {
    background-image: url('../img/main__item-link--Leonardo.jpg');
  }

  .artist__item-link--Verrocchio {
    background-image: url('../img/main__item-link--Verrocchio.jpg');
  }

  .artist__item-link--Monet {
    background-image: url('../img/main__item-link--Monet.jpg');
  }

  .artist__item-link--Sisley {
    background-image: url('../img/main__item-link--Sisley.jpg');
  }

  .artist__item-link--Mane {
    background-image: url('../img/main__item-link--Mane.jpg');
  }

  .artist__item-link--Renoir {
    background-image: url('../img/main__item-link--Renoir.jpg');
  }

  .artist__item-link--VanGogh {
    background-image: url('../img/main__item-link--VanGogh.jpg');
  }

  .artist__item-link--Cezanne {
    background-image: url('../img/main__item-link--Cezanne.jpg');
  }

  .artist__item-link--Gauguin {
    background-image: url('../img/main__item-link--Gauguin.jpg');
  }

  .artist__item-link--Sulfur {
    background-image: url('../img/main__item-link--Sulfur.jpg');
  }

  .artist__item-link--Kandinsky {
    background-image: url('../img/main__item-link--Kandinsky.jpg');
  }

  .artist__item-link--Marinetti {
    background-image: url('../img/main__item-link--Marinetti.jpg');
  }

  .artist__item-link--Malevich {
    background-image: url('../img/main__item-link--Malevich.jpg');
  }

  .artist__item-link--Picasso {
    background-image: url('../img/main__item-link--Picasso.jpg');
  }

  .artist__item-link--Carra {
    background-image: url('../img/main__item-link--Carra.jpg');
  }

  .artist__item-link--Pratella {
    background-image: url('../img/main__item-link--Pratella.jpg');
  }

  .artist__item-link--Severini {
    background-image: url('../img/main__item-link--Severini.jpg');
  }

  .artist__item-link--Balla {
    background-image: url('../img/main__item-link--Balla.jpg');
  }

  .artist__item-text {
    position: relative;
  }

  .artist__item-link:hover,
  .artist__item-link:focus {
    outline: none;
    border-color: var(--violet-middle);
  }

  .artist__item-link:active::before {
    opacity: 1;
  }

  .artist__dropdown .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: var(--black);
  }

  .artist__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    opacity: 1;
  }

  @keyframes dropdownOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dropdownClose {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .search-menu {
    justify-content: space-between;
    position:unset;
    width: 100%;
    max-width: 1920px;
    min-height: 70px;
    padding: 15px 50px;
    margin: 0 auto;
    height: unset;
    background-color: unset;
    visibility: visible;
    transform: unset;
    overflow: unset;
    z-index: 1;
    opacity: 1;
  }

  .search-menu__close {
    display: none;
  }

  .search-menu__input {
    position: relative;
    border: none;
  }

  .search-menu__input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
  }

  .search-menu__input:focus::placeholder {
    color: transparent;
  }

  .search-menu__form {
    width: 257px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .search-menu__submit::after {
    content: '';
    position: absolute;
    width: 218px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    bottom: -5px;
    left: 28px;
    transition: background-color .3s ease-in-out;
    pointer-events: none;
  }

  .search-menu__input:hover + .search-menu__submit::after,   .search-menu__input:focus + .search-menu__submit::after {
    background-color: var(--violet-light);
  }

  .search-menu__input:active + .search-menu__submit::after {
    background-color: var(--violet-dark);
  }

  .search-menu__submit {
    width: 20px;
    height: 20px;
  }

  .search-menu__submit::before {
    top: 16px;
  }

  .search-menu__submit:focus,
  .search-menu__submit:focus::before,
  .search-menu__submit:hover,
  .search-menu__submit:hover::before {
    border-color: var(--violet-light);
  }

  .modal__container {
    width: 594px;
  }

  .events-next.nav-btn::before {
    width: 11px;
    height: 11px;
    left: calc(50% - 14px / 2);
    top: calc(50% - 11px / 2);
  }

  .events-prev.nav-btn::before {
    width: 11px;
    height: 11px;
    left: calc(50% - 10px / 2);
    top: calc(50% - 11px / 2);
  }

  .nav-wrap {
    position: relative;
  }

  .nav__list {
    margin-bottom: 0;
  }

  .events-btn {
    display: unset;
  }

  .events-prev, .events-next {
    width: 50px;
    height: 50px;
  }

  .events-prev.swiper-button-disabled, .events-next.swiper-button-disabled {
    visibility: hidden;
  }

  .container--footer {
    margin: 0 auto;
    padding: 50px 160px;
    flex-grow: 1;
  }
}

@media(min-width: 1920px) {

  .header__top-container {
    padding: 0 152px 0 160px;
  }

  .search-menu {
    padding: 15px 153px;
  }

  .logo-link {
    min-width: 173px;
    margin-right: 170px;
    margin-left: 4px;
    align-self: center;
  }

  .artist__item {
    margin-right: 82px;
  }

  .artist__item--postimpr, .artist__item--avangard {
    margin-right: 84px;
  }

  /*hero*/
  .container--hero {
    padding: 63px 160px 122px 160px;
  }

  .hero__title {
    max-width: 600px;
    margin-bottom: -4px;
  }

  .hero__text {
    max-width: 550px;
    margin-bottom: 92px;
  }

  /*about us*/
  .container--about-us {
    padding: 84px 160px 72px 160px;
  }

  .about-us__text {
    max-width: 1080px;
  }

  /*gallery*/
  .gallery {
    background-image: url("../img/gallery-background-desk.jpg");
  }

  .container--gallery {
    padding: 92px 160px 80px 160px;
  }

  .gallery__content {
    min-width: 400px;
    margin-right: 50px;
  }

  .gallery__title {
    margin-bottom: 38px;
  }

  .choices {
    max-width: 400px;
    margin-bottom: 182px;
  }

  .gallery__item:last-child {
    margin-bottom: 0;
  }

  .swiper-container {
    width: 72%;
    min-width: 750px;
    margin-bottom: 0;
  }

  .gallery-slide::before {
    padding-top: calc(98%);
  }

  .swiper-navigation {
    margin-top: 14px;
  }

  .modal__container {
    width: 900px;
  }

  /*catalog*/
  .container--catalog {
    padding: 85px 160px 21px 160px;
  }

  .catalog__text {
    max-width: 1080px;
  }

  .catalog__accordion-wrap {
    justify-content: space-between;
  }

  .swiper--artists {
    max-width: 750px;
  }

  .questions {
    width: calc(50%);
  }

  .accordion__inner-list {
    column-count: 3;
    column-gap: 0;
  }

  .catalog__text {
    margin-bottom: 37px;
  }

  /*events*/
  .container--events {
    padding: 22px 160px;
  }

  .events__info {
    text-align: left;
    margin-bottom: 12px;
  }

  .events__img {
    max-height: 300px;
  }

  .slide-content {
    padding: 15px 50px 40px 50px;
  }

  .events__title-slide {
    margin-bottom: 10px;
  }

  .events__descr {
    margin-bottom: 63px;
  }

  .swiper-pagination {
    display: none;
  }

  .events-navigation {
    display: flex;
    top: calc(100% / 2 - 45px);
    left: -25px;
    right: -25px;
    width: unset;
    z-index: 2;
  }

  /*projects*/
  .container--projects {
    padding: 30px 160px 70px 160px;
  }

  .projects__text-wrap {
    max-width: 1080px;
  }

  .sponsor-swiper__slides {
    margin: 0 75px;
  }

  .projects__subtitle {
    margin-bottom: 23px;
  }

  /*contacts*/
  .container--contacts {
    display: flex;
    align-items: center;
    padding: 37px 160px 35px 160px;
  }

  .contacts-wrap {
    display: flex;
  }

  .contacts-info {
    margin-right: 80px;
  }

  .form {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .form__button {
    height: 50px;
    width: 47.5%;
    max-width: 375px;
    min-width: 329px;
  }

  .contacts__address {
    font-size: 16px;
    margin-bottom: 0;
  }

  .contacts__social-media {
    margin: 7px 0 0;
  }

  /*footer*/
  .footer__social svg {
    width: 45px;
    height: 45px;
  }

  .container--footer {
    padding: 47px 160px;
  }
}
