:root {
  --coral-tree: #AE7C78;
  --can-can: #D89999;
}

@font-face {
  font-family: 'Playfair Display italic';
  src: local("Playfair Display"),
  url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display"),
  url('../fonts/PlayfairDisplay.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"),
  url('../fonts/Montserrat.woff2') format('woff2'),
  url('../fonts/Montserrat.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

/* ----------GLOB---------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: var(--can-can);
  color: #fff;
  width: 100%;
  height: 100%;
  max-width: 285px;
  max-height: 80px;
  padding: 10px 15px;
  transition: background-color .3s ease-in-out;
}

.btn:hover, .btn:active {
  background-color: var(--coral-tree);
}

.btn::before {
  position: absolute;
  content: '';
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 40px;
  transition: box-shadow .3s ease-in-out;
}

.btn:focus::before {
  box-shadow: 0 0 0 2px var(--coral-tree);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button:focus {
  outline:none;
}

.flex {
  display: flex;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*header*/
header {
  width: 100%;
  border-top: 1px solid var(--coral-tree);
  border-bottom: 1px solid var(--coral-tree);
  margin-top: 25px;
  padding: 22px 30px 2px;
}

.nav {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
  transition: color .3s ease-in-out;
  margin-right: 30px;
}

.nav__link::before {
  position: absolute;
  content: '';
  top: -3px;
  right: -6px;
  bottom: -3px;
  left: -6px;
  background-color: var(--coral-tree);
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: -1;
}

.nav__link::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: var(--coral-tree);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease-in-out;
}

.nav__link:focus::before {
  transform: scaleX(1);
}

.nav__link:focus {
  color: #fff;
}

.nav__link:hover::after, .nav__link:active::after {
  transform: scaleX(1);
}

/*hero*/
.hero {
  padding-top: 80px;
}

.hero__title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  color: var(--coral-tree);
  margin: 0 0 25px;
}

.petersburg {
  font-family: "Playfair Display italic", sans-serif;
}

.hero__content {
  margin-right: 20px;
}

.hero__descr {
  font-size: 24px;
  line-height: 29px;
  color: var(--coral-tree);
  margin: 0 0 64px;
}

.advantages {
  padding-top: 90px;
}

.advantages__list {
  justify-content: space-between;
}

.advantages__item {
  max-width: 345px;
}

.advantages__item:not(:last-child) {
  margin-right: 20px;
}

.advantages__img {
  margin-right: 30px;
  max-height: 52px;
  max-width: 82px;
}

.advantages__title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
}

.advantages__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
}

/*product*/
.product {
  padding-top: 80px;
}

.product__title {
  font-family: 'Playfair Display', sans-serif;
  margin: 0 0 35px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: var(--coral-tree);
}

.product__content {
  justify-content: center;
}

.product__wrapper, .product__img {
  max-width: 387px;
}

.product__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--coral-tree);
  margin: 0 0 20px;
}

.product__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
  margin: 0 0 24px;
}

.product__size {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
  margin: 0 0 24px;
}

.product__price {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--coral-tree);
  margin: 0 0 64px;
}

/*promo*/
.promo {
  padding-top: 94px;
  margin-bottom: 90px;
  background-image: url("../img/florist.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}



.promo__content {
  flex-direction: column;
  justify-content: center;
  background-color: var(--coral-tree);
  color: #fff;
  padding: 40px 120px 64px 102px;
  max-width: 610px;
}

.promo__title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  margin: 0 0 24px;
}

.promo__descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

/*feedback*/
.feedback {
  padding: 40px 40px 64px;
  margin-bottom: 72px;
  border: 1px solid var(--coral-tree);
}

.feedback__list {
  justify-content: space-between;
}

.feedback__item:not(:last-child) {
  max-width: 300px;
  margin-right: 20px;
}

.feedback__title {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: var(--coral-tree);
  margin: 0 0 41px;
}

.feedback__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--coral-tree);
  margin: 0 0 16px;
}

.feedback__author {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--coral-tree);
}

/*footer*/
footer {
  background-color: var(--coral-tree);
  padding: 30px 30px 47px;
}

.footer__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: color .3s ease-in-out;
  z-index: 1;
}

.footer__link::before {
  position: absolute;
  content: '';
  top: -3px;
  right: -6px;
  bottom: -3px;
  left: -6px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: -1;
}

.footer__link::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease-in-out;
}

.footer__link:focus::before {
  transform: scaleX(1);
}

.footer__link:focus {
  color: var(--coral-tree);
}

.footer__link:hover::after, .footer__link:active::after {
  transform: scaleX(1);
}

.footer__list {
  max-width: 800px;
  justify-content: space-between;
  margin: 0 auto;
}
